# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/

# VSCode settings (opcional)
.vscode/

# Environment variables (se usar .env)
.env

# SQLite database (se quiser ignorar local)
*.db

# Mac/Linux/Windows system files
.DS_Store
Thumbs.db
